img {
width:100%;
background-color:transparent;
float:right;
border:0;
}
@keyframes spin {
    100% {-ms-transform: rotate(360deg);
         -moz-transform:rotate(360deg);  
        transform: rotate(360deg);
}
}
img:hover{
    animation-name:spin;
    animation-duration: 4s;

} 

p {
    font-family: arial;
    font-size:30px;
    color:black;
    background-color: #CC3333;
    text-align:justify;
   
    line-height: 0.8;
    

}

h1 {
    font-family:arial;
    font-size:90px;
   color:Black;
   background-color: #66CCFF;
   text-align: center;
}


h2 {
    font-family:arial;
    font-size: 30px;
    color:#0066FF;
    text-align: center;
}

a {
    font-family:arial;
    font-size:20px;
    text-decoration:none;
    color:#FF99CC;
    
}

nav {
    display:block;
    color:#66CC00;
    width: 100%;
    
}

body {
background-color: #3399FF;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    position:relative;
    bottom: 0px;
    width:100%;
    z-index: 1;
   
          
 }

 li 
 {
     float:left;
     width:99%;
    
  
 }

li a 
{
    position: relative;
    display:inline-block;
    width:100%;
    border: solid 2px #000000;
    text-align: center;
    background-color:#CCCCCC;
    color:#FFFFFF ;
    
}

li a :hover
{
    background-color: #00CCFF;
}
ol{
    position:relative;
    text-align:right;
    float: right;
    width: 45%;

     /*top:330px;
      right:10px;
      left:550px;*/
    font-family: arial;
    font-size:20px;
    color:black;
    background-color: #FF00CC;
    display: inline-block;
    
}

.fur{
    position:relative;
    text-align:left;
    background-color: #FFFF00;
    font-family: arial;
    font-size: 40px;
     /*top:300px;
      right:10px;
      left:550px;*/
      float: right;
      width:45%;
    }

.key
{
position:relative;
float: left;
/*top:300px;
left:0px;
height: 350px;*/
width: 45%;
-ms-transform: rotate(360deg);


}

.cloth
{
    position:relative;
    float: right;
    /*top: 300px;
    right:0px;
    height:350 px;*/
    width:45%;

}

.dr
{
    position: relative;
    float: left;
    
    left: 0px;
    /*height:350px; */
    width: 50%;
    
}

.steth{
    position: relative;
    float: left;
   /* top: 320px;
    left: 0px;
    height:250px;*/
    width: 45%;
}

.brush{
    position:relative;
    
  /*  top: 700px;
    left: 0px;
    height:250px;*/
    width: 45%;
}
 
 .para1
  {
      font-family:arial;
      background-color:#CC6633;
      font-size:30px;
      text-align:justify;
      position:relative;
      float: right;
      /*top:450px;
      left:10px;
      right:50px;*/
      width:100%;

      
  }

  .para2
  {
      font-family:arial;
      background-color:#FFFFCC;
      font-size:30px;
      text-align:justify;
      position:relative;
      float: left;
      /*top:450px;
      right:10px;
      left:50px;*/ 
      width: 100%;
       }

  .disease
  {
      font-family: arial;
      background-color: #00FFCC;
      font-size: 30px;
      text-align: left;
      position:relative;
      float:right;
      /*top:300px;
      right:10px;
      left:550px;*/
      width: 45%;
      
  }

.vid1{
position: relative;
/*top:220px;
left: 10px;
width:550px;*/
height:235px;
float: left;
width: 100%;
  }

.vid2
{
position: relative;
/*top:220px;
right:10px;
width:550px;*/
height:235px;
width: 100%;
float: right;
}

.vid3
{
position: relative;
/*bottom:100px;
left:10px;
width:550px;*/
height:235px;
width: 100%;
float: left;
}

.vid4
{
position: relative;
/*bottom:100px;
right:10px;
width:550px;*/
height:235px;
width: 100%;
float: right;
}

.v1{
    position: relative;
   /* top: 490px;
    left: 10px;*/
    float: left;
    width: 100%
    
}

.v2{
    position: relative;
    /*top: 490px;
    right: 10px;*/
     width: 100%;
     float: right;

}
.v3{
    position: relative;
    /*bottom: 10px;
    left: 10px;*/
     width: 100%;
     float: left;
}

.v4{
    position: relative;
    /*bottom: 10px;
    right: 10px;*/
    width: 100%;
    float: right;
}

.input[type=text] {
    width: 100%;
    
    

}


.positionedSearch {
    width: 400px;
    height: 45px;
    position: absolute;
    z-index: 2;
    right: 40%;
    top: 330px;

}

input[type=text]:focus {
    width: 100%;

}

#search
{
background-color: black;
color: white;
font-size: 28px;

}

.container {
    width: 100%;
    
    
}

.video1{
    position: relative;
    width: 45%;
    float: left;

}

.video2{
position: relative;
 width: 45%;
 float: right;

}

.video3{
position: relative;
 width: 45%;
 float: left;
}

.video4{
position: relative;
 width: 45%;
 float: right;
}

.meow{
     position: relative;
     float: right;
}